.lettres{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 50px);
	margin-left: 100px;
	margin-right: 100px;
	letter-spacing: 75px;

}

#lemot{
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	color: red;
	font-size: 100px
}

body{
	margin-top: 50px;
}

.ligne{
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	margin: 10px;
}
